# Ignore everything by default and include only required files
**
# App code
!app
!conf
!project
!test
!build.sbt
# Docker
!.dockerignore
!Dockerfile
!docker-compose.yml
!docker-postgresql.sh
# Documentation
!README.md
!Payload Samples
