# Ignore everything by default and include only required files
**
# Docker build instructions
!.dockerignore
!Dockerfile
# App code
!app
!conf
!project
!test
!build.sbt
# Useful stuff
!README.md
!Payload Samples